<div class="container">
  <h1>Welcome to Tweets!</h1>


  <div class="username">
    <form action="/username" method="post">
      Enter the tweet_id: <input type="text" name="username">
      <input type="submit" name="submit" value="See the tweets!">
    </form>
  </div>

</div>